<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.stew.mylibrary">

    <application>
        <activity android:name="com.stew.mylibrary.LibActivity" />
        <activity android:name="com.stew.mylibrary.Lib2Activity" />
    </application>
</manifest>