<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.stew.androidtest">

<!--    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />-->
<!--    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />-->

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.stew.pro" />

<!--    <queries>-->
<!--        <package android:name="com.stew.androidtest2" />-->
<!--    </queries>-->

    <application
        android:name=".MyApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AndroidTest">


        <activity
            android:exported="true"
            android:theme="@style/SplashTheme"
            android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity"
            android:screenOrientation="portrait"/>


        <activity
            android:name=".testforactivity.Test1Activity"
            android:launchMode="singleInstance"
            android:taskAffinity="com.stew.androidtest11"
             />

        <activity
            android:name=".testforactivity.Test2Activity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".testforactivity.Test3Activity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".testfordispatch.TestDispatchActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".testforhook.HookActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".testforserialize.TestSerializeActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".testforserialize.TestParcelableActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".testforbinder.TestBinderActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".testforaidl.TestAIDLActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".testforcontentprovider.TestProvActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".testforviewscroll.TestViewScrollActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".testforlistview.TestListViewActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".testforlistview.TestListView2Activity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".testforview.TestViewActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".testforviewmeasure.TestViewMeasureActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".testforviewmeasure.TestCustomViewActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".testforwindow.TestWindowActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".testforremoteview.TestNotifyActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".testforremoteview.TestAppWidgetActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".testforrxjava.TestRxjavaActivity" />

        <activity android:name=".testforhotfix.TestCLassLoaderForHotfixActivity" />

        <activity android:name=".testforokio.TestOkioActivity" />

        <activity android:name=".testfordagger2.TestDagger2Activity" />

        <activity android:name=".testforhilt.TestHiltActivity" />

        <activity android:name=".testfornestedscroll.TestNestedScrollActivity" />

        <activity android:name=".testfornestedscroll2.BarActivity"/>

        <activity android:name=".testforstorage.TestStorageActivity"/>

        <activity android:name=".testforwxexit.TestWxAcExitActivity"
            android:theme="@style/WxExitTheme"
            android:process="com.stew.mutiprocess"/>

        <activity android:name=".testforasm.TestAsmActivity"/>

        <activity android:name=".testforrv.TestRVActivity"/>

        <activity android:name=".testForTransition.TransitionActivity"/>

        <activity android:name=".testForTransition.DetailActivity"/>

        <activity android:name=".testforcrash.TestCrashActivity"/>

        <!-- ///////////////////////////////////////////////////////////////////////////////////////////////////////// -->
        <!-- ///////////////////////////////////////////////////////////////////////////////////////////////////////// -->


        <receiver android:name=".testforremoteview.ExampleAppWidgetProvider"
            android:exported="true">
            <intent-filter>
                <action android:name="com.stew.androidtest.action.CLICK" />
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidgetproviderinfo" />
        </receiver>


        <service
            android:name=".testforbinder.TestBinderServer"
            android:process=":stew_server"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.stew_server" />
            </intent-filter>
        </service>

        <service
            android:name=".testforbinder.TestBinderProxyServer"
            android:process=":stew_proxy_server"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.stew_proxy_server" />
            </intent-filter>
        </service>

        <service
            android:name=".testforbinder.TestAIDLBinderProxyServer"
            android:process=":stew_proxy_server"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.stew_aidl_proxy_server" />
            </intent-filter>
        </service>

    </application>

</manifest>